<section class="content home">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h2>
                    Sobre a Clinvet
                </h2>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="../home"><i class="zmdi zmdi-home"></i> Clinvet </a></li>
                    <li class="breadcrumb-item active">Sobre a Empresa</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="card">
                <div class="header">
                    <div>
                    <h3>
                        <span>Bem vindo à Clinvet</span>
                    </h3>
                        <p>
                            A Clinvet é o fruto de um verdadeiro amor pelos animais.
                            Com um atendimento diferenciado, trabalhamos com investigação
                            extensiva para um diagnóstico preciso.
                            Nossa infraestrutura foi criada com muito carinho para atender
                            com profissionalismo cada paciente.
                        </p>
                        <p> A busca pelo bem estar do seu companheiro é a nossa grande motivação. 
                            Por isso, cuidamos não só de doenças, mas buscamos, também, instruir os 
                            proprietários sobre como tratar seus animais no dia a dia. Acreditamos 
                            que carinho e atenção correta é a melhor prevenção para qualquer doença.
                        </p>
                        <p>
                            Venha nos conhecer! Será sempre um prazer recebê-lo na Clinvet!
                            <br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>