<section class="content home">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h2>
                    Contato
                </h2>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href=""><i class="zmdi zmdi-home"></i> Clinvet </a></li>
                    <li class="breadcrumb-item active">Contato</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-sm-3"><img class="img-fluid img-thumbnail" src="~/assets/images/Entrada.jpg" height="200" width="300" /></div>
                        <div>
                            <h3>
                                <span class="text_bold">Contato</span>
                            </h3>
                            <span>Juiz de Fora, Brasil</span> <br />
                            <span>Av. Dr. Moacyr Siqueira, 165</span><br />
                            <span>Jardim do Sol</span><br />
                            <span>36.062-010</span><br />
                            <span>Tel: +55 32 3218.2030</span><br />
                            <span>contato@clinvetjf.com.br</span><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>