<section class="content home">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h2>
                    Início
                </h2>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="../index"><i class="zmdi zmdi-home"></i> SysComPet</a></li>
                    <li class="breadcrumb-item active">Início</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="card social_widget2">
                                <div class="body data text-center">
                                    <ul class="list-unstyled m-b-0">
                                        <li class="m-b--10">
                                            <i class="zmdi zmdi-alarm-check col-indigo"></i>
                                            <span>Funcionamento</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="name header bg-purple">
                                    <ul class="list-unstyled m-b-30">
                                        <li class="m-b-25">
                                            <div class="progress-container">
                                                <span class="progress-badge">
                                                    Segunda – Sexta:
                                                </span><br />
                                                <span class="progress-badge">
                                                    9:00 – 19:00
                                                </span>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="m-b-25">
                                            <div class="progress-container">
                                                <span class="progress-badge">
                                                    Sábado:
                                                </span>
                                                <span class="progress-badge">
                                                    9:00 – 13:00
                                                </span>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="m-b-25">
                                            <div class="progress-container">
                                                <span class="progress-badge">
                                                    Domingo:
                                                </span>
                                                <span class="progress-badge">
                                                    Emergências
                                                </span>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <h5><i class="zmdi zmdi-local-hospital m-r-5"></i> <span>Clinvet JF</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="card social_widget2">
                                <div class="body data text-center">
                                    <ul class="list-unstyled m-b-0">
                                        <li class="m-b--10">
                                            <i class="zmdi zmdi-calendar col-indigo"></i>
                                            <span>Vacinação</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="name header bg-purple">
                                    <ul class="list-unstyled m-b-30">
                                        <li class="m-b-25">
                                            <div class="progress-container">
                                                <span class="progress-badge">
                                                    Inscreva seu pet no nosso de controle de vacinação. Enviaremos uma notificação informando o dia certo para manter o seu companheiro protegido. O serviço é gratuito!
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="card social_widget2">
                                <div class="body data text-center">
                                    <ul class="list-unstyled m-b-0">
                                        <li class="m-b--10">
                                            <i class="zmdi zmdi-local-phone col-indigo"></i>
                                            <span>Agendamentos</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="name header bg-purple">
                                    <ul class="list-unstyled m-b-30">
                                        <li class="m-b-25">
                                            <div class="progress-container">
                                                <span class="progress-badge">
                                                    Trabalhamos com consultas e banhos agendados. Ligue antes e veja o melhor horário para você! Estamos à disposição através do telefone: (32) 3218-2030
                                                <br /><br /><br />
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="card social_widget2">
                                <div class="body data text-center">
                                    <ul class="list-unstyled m-b-0">
                                        <li class="m-b--10">
                                            <i class="zmdi zmdi-alert-circle col-indigo"></i>
                                            <span>Emergências</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="name header bg-purple">
                                    <ul class="list-unstyled m-b-30">
                                        <li class="m-b-25">
                                            <div class="progress-container">
                                                <span class="progress-badge">
                                                    (32) 98442-4402
                                                    <br />
                                                    <br />
                                                    Atendimento de emergências todos os dias até as 21:00.
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>